:root {
    --color-scheme: dark;

    --font-color: var(--d-font-color);
    --font-color-dark: var(--d-font-color-dark);

    --accent-color-1: var(--d-accent-color-1);
    --accent-color-2: var(--d-accent-color-2);

    --orange: #f2a965;
    --green: #097969;

    --button-active: var(--d-selection);

    --bg-1: var(--d-bg-1);
    --bg-2: var(--d-bg-2);
    --bg-3: var(--d-bg-3);

    --selection: var(--d-selection);

    --keyword: var(--d-keyword);
    --variable-1: var(--d-variable-1);
    --def: var(--d-def);
    --atom: var(--d-atom);
    --property: var(--d-property);
    --string: var(--d-string);
    --number: var(--d-number);
    --type: var(--d-type);
    --comment: var(--d-comment);
    --qualifier: var(--d-qualifier);
    --tag: var(--d-tag);
    --attribute: var(--d-attribute);
    --error: var(--d-error);
}
