:root {
    --color-scheme: light;

    --font-color: #000;
    --font-color-dark: #222;

    --accent-color-1: #00BFFF;
    --accent-color-2: #007BFF;

    --orange: #f2a965;
    --green: #097969;

    --button-active: rgba(0, 0, 0, 0.1);

    --bg-1: #ffffff;
    --bg-2: #f2eff2;
    --bg-3: #f5f6f8;

    --selection: rgba(0, 122, 255, 0.3);

    --keyword: #6500ff;
    --variable-1: var(--font-color-dark);
    --def: var(--font-color-dark);
    --atom: var(--accent-color-2);
    --property: var(--accent-color-2);
    --string: #27a61d;
    --number: #a5631b;
    --type: #22becf;
    --comment: #77787a;
    --qualifier: #a5631b;
    --tag: #ff000b;
    --attribute: #a5631b;
    --error: #ff000b;
}