:root {
    --color-scheme: light;

    --font-color: var(--l-font-color);
    --font-color-dark: var(--l-font-color-dark);

    --accent-color-1: var(--l-accent-color-1);
    --accent-color-2: var(--l-accent-color-2);

    --orange: #f2a965;
    --green: #097969;

    --button-active: var(--l-button-active);

    --bg-1: var(--l-bg-1);
    --bg-2: var(--l-bg-2);
    --bg-3: var(--l-bg-3);

    --selection: rgba(0, 122, 255, 0.3);

    --keyword: var(--l-keyword);
    --variable-1: var(--l-variable-1);
    --def: var(--l-def);
    --atom: var(--l-atom);
    --property: var(--l-property);
    --string: var(--l-string);
    --number: var(--l-number);
    --type: var(--l-type);
    --comment: var(--l-comment);
    --qualifier: var(--l-qualifier);
    --tag: var(--l-tag);
    --attribute: var(--l-attribute);
    --error: var(--l-error);
}